* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body, html {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    overflow-x: hidden;
    background-color: #110B23;
    
}

p, li {
    color: #808080;
    list-style: none;
}

ul {
    padding-left: 0;
}
