* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    
}

p, li {
    color: #808080;
    list-style: none;
}

ul {
    padding-left: 0;
}
