@media (max-width: 991px) {

    /* ---- HOMEPAGE ---- */

    body, html {
        overflow-x: hidden;
    }

    div#home-area {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div#home-area h1.nome {
        font-size: 60px;
        
    }

    div#home-area p.descricao-profissao {
        font-size: 40px;

    }

    div#home-area ul.lista-redes-sociais img {
        width: 45px;
    }

    img#ilustracao-homepage {
        width: 350px;
    }

}

@media (max-width: 767px) {

    body, html {
        overflow-x: hidden;
    }

    /* ---- HOMEPAGE ---- */

    div#home-area {
        display: flex;
        min-height: 100vh;
        align-items: center;
    }

    div#home-area #imagem-homepage {
        display: none;
    }

    div#home-area .col-md-6 { /*Refere a descrição, profissao, redes sociais e botao de curriculo*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    
    div#home-area .botao-baixar-cv a {
        width: 100%;
        font-size: 20px;
        padding: 15px;
    }    

    /* ---- SOBRE MIM ---- */

    h3.about-title {
        margin-top: 20px;
    }

}

@media (max-width:575px) {

    body, html {
        overflow-x: hidden;
    }

    div#experiencia-area .container-experiencia {
        width: 450px;
    }
}

@media (max-width:520px) {

    body, html {
        overflow-x: hidden;
    }

    div#projetos-area div.card-body p.card-text {
        font-size: 19px;
    }

    
}

@media (max-width:497px) {

    body, html {
        overflow-x: hidden;
    }

    div#experiencia-area .container-experiencia {
        width: 300px;
    }
}
