/* ==== PALETA DE CORES ==== */

:root {
    --cor-primaria: #056945;
    --roxo-claro: #1c113a;
    --background: #080705;
    --branco: white;
}


/*-------- HEADER/CABEÇALHO --------*/

header nav.navbar {
    background-color: var(--background);
    
}

header nav a#link-brand {
    display: flex;
    cursor: default;
    margin-left: 30px;
    
}

nav img { /*Imagem do logo*/
    width: 90px;
    padding: 10px;
    filter: invert(1);   
}

button#botao-navbar { /*Botão do menú quando fica em tela menor*/
    position: relative;
    right: 10px;
    background-color: #ffffff;
    transition: 0.5s ease-in-out;
}

button#botao-navbar:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

div#navbar-links {
    padding-right: 100px;

}

div#navbar-links a {
    color: white;
    margin: 5px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
    transition: 0.3s ease-in-out;

}

div#navbar-links a:hover {
    cursor: pointer;
    background-color: var(--cor-primaria);
    color: white;
}

/*-------- CONTEÚDO HOMEPAGE --------*/

div#home-area {
    background-color: var(--background);
    display: flex;
    min-height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
    
}

div#home-area h1.nome {
    color: white;
    font-size: 80px;
    font-weight: bolder;
    font-variant: small-caps;
}

div#home-area p.descricao-profissao {
    font-size: 50px;
    font-weight: 400;
    font-variant: small-caps;
}

div#home-area p.descricao-profissao::after { /*Efeito de máquina de escrever*/
    content: '|';
    animation: piscar .7s infinite;
}

@keyframes piscar {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

div#home-area ul.lista-redes-sociais {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;

}

div#home-area ul.lista-redes-sociais img {
    width: 45px;
    border-radius: 4px;
    filter: invert();
    cursor: pointer;
    transition: all .3s ease-in-out;
}

div#home-area ul.lista-redes-sociais img:hover {
    transform: translateY(-7px); /*Os elementos vão suavemente para cima*/
    
}

div#home-area .botao-baixar-cv {
    margin-top: 20px;
}

div#home-area .botao-baixar-cv a {
    width: 50%;
    font-size: 30px;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--cor-primaria);
    border: none;
}

div.informacoes { /* Refere-se as seções das informações da homepage e sobre mim*/
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

/*-------- SOBRE MIM --------*/

div#sobre-mim-area {
    display: flex;
    background-color: var(--background);
    min-height: 100vh;
    align-items: center;
    padding: 20px;
}

div h3.about-title { /*Título*/
    color: white;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}

div p.descricao { /* Minha descrição */
    font-size: 19px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.938);
}

/*-------- MINHAS SKILLS --------*/

div#skills-area {
    background-color: var(--background);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    
}

div#skills-area h3.skills-title {
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

div.col-md-4.service-box i.fab, div.col-md-4.service-box i.fas { /*ícones dos cursos*/
    display: flex;
    flex-direction: column;
    font-size: 60px;
    align-items: center;
    padding-bottom: 70px;
    transition: all .5s;
    color: white;
    margin-top: 10px;
}

div i.fab h4, div i.fas h4 { /*Título dos cursos*/
    font-family: 'Saira Condensed', sans-serif;
    margin-top: 10px;
    /* margin-bottom: 15px; */
    
}

div.col-md-4.service-box i.fab:hover, div.col-md-4.service-box i.fas:hover, div.col-md-4.service-box i.fab h4:hover {
    color: var(--cor-primaria);
    transition: all .5s;
}

/* div.col-md-4.service-box i.fab p, div.col-md-4.service-box i.fas p {
    color: white;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    text-align: center;
} */

/*-------- EXPERIÊNCIA --------*/

div#experiencia-area {
    display: flex;
    background-color: var(--background);
    min-height: 100vh;
    align-items: center;
    padding-top: 100px;
}

div#experiencia-area .container-experiencia {
    border: 2px solid var(--cor-primaria);
    padding: 20px;
    margin-bottom: 30px;
    
}

div#experiencia-area .container-experiencia a {
    text-decoration: none;
    color: white;
}

p.descricao-experiencia {
    font-size: 19px;
    font-weight: normal;
    color: white;
    
}

i.fas.fa-check {
    color: rgb(4, 179, 4);
    padding: 10px;
    padding-left: 0;
    
}

/*-------- PROJETOS --------*/

div#projetos-area {
    background-color: var(--background);
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-top: 100px;
    
}

div#projetos-area h3.projetos-title {
    text-align: center;
    color: white;
}

div#projetos-area div.card {
    border: 1px solid var(--cor-primaria);
    padding: 20px;
    border-radius: 20px;
    transition: all .5s ease-in-out;
    cursor: default;
    margin-bottom: 25px;
    transform: scale(0.95);
    background-color: var(--background);
    
    
}

div#projetos-area div.card img {
    border-radius: 20px;
}

div#projetos-area div.card-body {
    text-align: center;
}

div#projetos-area div.card-body .card-title {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    color: white;
}

div#projetos-area div.card-body p.card-text {
    text-align: center;
    font-size: 23px;
    font-weight: lighter;
    color: white;

}

div#projetos-area .btn.btn-primary {
    padding: 10px; 
    border-radius: 20px;
    font-weight: 500;
    font-size: 25px;
    transition: all .3s ease-in-out;
    background-color: var(--cor-primaria);
    border: none;
}

/*-------- CONTATO --------*/

div#contato-area {
    display: flex;
    background-color: var(--background);
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

div#contato-area img {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#contato-area div.form-group input, div#contato-area div.form-group #mensagem {
    border: 1px solid var(--cor-primaria);
    border-radius: 10px;
    background-color: transparent;
    color: white;
    
}

div#contato-area .btn.btn-primary {
    background-color: var(--cor-primaria);
    border: none;
}

#nome::placeholder, #email::placeholder, #mensagem::placeholder {
    color: rgba(255, 255, 255, 0.795);
}


/*----- FOOTER -----*/

footer {
    margin-top: 50px;
    background-color: var(--background);
    padding-bottom: 1px;
    padding-top: 25px;
}

footer ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    
}

footer ul img {
    width: 40px;
    filter: invert(1);
    margin-top: 0px;
    transition: .3s all ease-in-out;
    text-align: center;


}

footer ul img:hover {
    transform: translateY(-7px);
}

footer p.descricao-footer {
    font-weight: 400;
    color: white;
}

